src/mda/Workflows/CheckImageRelevance-4FBE3D11-E979-EC11-8D21-0022489CA5BA.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"epr_sharedcommondataserviceforapps_ef09b"},"api":{"name":"shared_commondataserviceforapps"}},"shared_cognitiveservicescomputervision":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"epr_sharedcognitiveservicescomputervision_cc809"},"api":{"name":"shared_cognitiveservicescomputervision"}},"shared_excelonlinebusiness":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"epr_sharedexcelonlinebusiness_562ab"},"api":{"name":"shared_excelonlinebusiness"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_photo_is_added_or_updated":{"metadata":{"operationMetadataId":"3be5ae22-ee07-4719-bf5b-3e868b220ed0"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"epr_photo","subscriptionRequest/scope":2,"subscriptionRequest/filterexpression":"epr_relevancecheck eq 788710000 and epr_imageid ne null"},"authentication":"@parameters('$authentication')"}}},"actions":{"Retrieve_information_from_the_database":{"actions":{"Get_photo_image":{"runAfter":{},"metadata":{"operationMetadataId":"665e40dc-d07f-479c-8a03-ab8f6c75aea3"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetEntityFileImageFieldContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"epr_photos","recordId":"@triggerOutputs()?['body/epr_photoid']","fileImageFieldName":"epr_image","size":"full"},"authentication":"@parameters('$authentication')"}},"Get_job_details":{"runAfter":{"Get_photo_image":["Succeeded"]},"metadata":{"operationMetadataId":"f8b69e20-a671-47e7-97a4-6eb6c4af48c0"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"epr_jobs","recordId":"@triggerOutputs()?['body/_epr_job_value']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"a8e3dcb4-d767-4902-b213-e9dba31cfc78"},"type":"Scope"},"Analyse_image_and_photo_needs":{"actions":{"Analyse_Image":{"runAfter":{},"metadata":{"operationMetadataId":"677ad3ce-b784-4ec5-9305-11082eca9b50"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_cognitiveservicescomputervision","operationId":"AnalyzeImageV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_cognitiveservicescomputervision"},"parameters":{"subdomainName":"autoFilledSubdomain","format":"Image Content","Image":"@body('Get_photo_image')"},"authentication":"@parameters('$authentication')"}},"Split_photo_needs":{"runAfter":{"Analyse_Image":["Succeeded"]},"metadata":{"01B3AVEVVCYSMQMB3OSBGLNRXXFQ6S7S2W":"/FlowScripts.xlsx","operationMetadataId":"7bb19823-e66b-4993-b2ba-6ecade4291b8","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"RunScriptProd","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"sites/eswarprakash.sharepoint.com,826d530c-7f6a-47b0-ae74-09cd561a7b16,8c9601b9-841f-48f0-b3fd-a8ccf5668999","drive":"b!DFNtgmp_sEeudAnNVhp7FrkBlowfhPBIs_2ozPVmiZkSPS_TtgulTKe_U606PD7u","file":"01B3AVEVVCYSMQMB3OSBGLNRXXFQ6S7S2W","scriptId":"ms-officescript%3A%2F%2Fonedrive_business_itemlink%2F01OBCTKGF34F7KMY7ZM5FK5YOVUSZBXSUG","ScriptParameters/photoNeeds":"@outputs('Get_job_details')?['body/epr_photoneeds']"},"authentication":"@parameters('$authentication')"}},"Calculate_intersections":{"runAfter":{"Split_photo_needs":["Succeeded"]},"metadata":{"01B3AVEVVCYSMQMB3OSBGLNRXXFQ6S7S2W":"/FlowScripts.xlsx","operationMetadataId":"d603cb5d-b5ac-42c7-8987-01b4a2135440","tableId":null},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"RunScriptProd","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"sites/eswarprakash.sharepoint.com,826d530c-7f6a-47b0-ae74-09cd561a7b16,8c9601b9-841f-48f0-b3fd-a8ccf5668999","drive":"b!DFNtgmp_sEeudAnNVhp7FrkBlowfhPBIs_2ozPVmiZkSPS_TtgulTKe_U606PD7u","file":"01B3AVEVVCYSMQMB3OSBGLNRXXFQ6S7S2W","scriptId":"ms-officescript%3A%2F%2Fonedrive_business_itemlink%2F01OBCTKGDTG5JWJ7JJBBC2YEIGPPEACX5Y","ScriptParameters/tags":"@outputs('Analyse_Image')?['body/description/tags']","ScriptParameters/needs":"@outputs('Split_photo_needs')?['body/result']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Retrieve_information_from_the_database":["Succeeded"]},"metadata":{"operationMetadataId":"89d0e275-c2d3-4140-92e6-c06b9aeacf63"},"type":"Scope"},"Initialize_variable":{"runAfter":{},"metadata":{"operationMetadataId":"86bb8d41-526b-4118-a246-f8ce1fd28caf"},"type":"InitializeVariable","inputs":{"variables":[{"name":"entities","type":"array"}]}},"Update_the_photo_information":{"actions":{"Update_photo_information":{"runAfter":{},"metadata":{"operationMetadataId":"dbcba32e-b27d-4221-84af-81881d223b81"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"epr_photos","recordId":"@triggerOutputs()?['body/epr_photoid']","item/epr_relevancecheck":"@if(greater(length(outputs('Calculate_intersections')?['body/result']),0), 788710001, 788710002)"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Analyse_image_and_photo_needs":["Succeeded"]},"metadata":{"operationMetadataId":"c986056e-e976-45e0-9e8a-10ecd2e3ad32"},"type":"Scope"}}}},"schemaVersion":"1.0.0.0"}